main {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    div {
        width: 21.875rem;
        max-width: 560px;
            section{
                padding: 0 0;
            }
        }
}

@media (max-width: 780px){
    main{
        justify-content: center;
    }
}