.section {
    padding: 10px 20px;

    h3 {
        margin-bottom: 1.5625rem;
    }

    div {
        height: 5.4375rem;

        ul {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            margin-bottom: 4.375rem;

            li {
                div {    
                    display: flex;
                    flex-direction: column;
                    gap: 0.625rem;
                    align-items: flex-start;
                    padding-left: 1.25rem;

                    img {
                        max-width: 3.125rem;
                        width: 1.875rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.div {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
}

@media (min-width: 940px){
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 560px;
        div{
            height: 50px;
            margin-top: 15px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}