.entrada {
    border-radius: 4px;
    border-left: 5px solid;
    border-color: var(--Color-Secondary);
}
.saida {
    height: 38rem;
    border-radius: 4px;
    border-left: 5px solid;
    border-color: var(--Grey-3);
}